{% extends 'base.html' %}
{% block content %}
    {#
    <h2>Рекомендации</h2>
    ...
    <h2>Продолжить просмотр</h2>
    ...
    <h2>Последние обновления</h2>
    ...
    #}
    <h2>
    Вы можете посмотреть все аниме что есть на сайте
    <a href="{% url 'all_post' %}">
        тут
    </a>
    </h2>
    <h2>
    А можете найти нужное
    <a href="{% url 'general_search' %}">
        тут
    </a>
    </h2>
    <h2>
    А если на сайте нет интересующего вас аниме, можете оставить заказ на него
    <a href="{% url 'order' %}">
        тут
    </a>
    </h2>

{% endblock %}