{% load static %}

<div class="topmenu">
    <a class="logo" href="{% url 'main_page' %}">HDAll.RU</a>
    <div class="center">
        <a href="{% url 'general_search' %}">Поиск с фильтрами</a>
        <img src="{% static 'images/search.webp' %}" class="ico">
        <div class="dropdown">
            <a href="{% url 'my_profile' %}" class="dropdown-btn">Аккаунт</a>
            <div class="dropdown-content">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'subscribe' %}">Обновить подписку</a>
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                    <a href="{% url 'registration' %}">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>