{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }} - JustWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet/less" href="{% static 'style/main.less' %}">
    {% if request.user.dark_theme or request.user.is_anonymous %}
        <link rel="stylesheet/less" href="{% static 'style/dark_colors.less' %}">
    {% else %}
        <link rel="stylesheet/less" href="{% static 'style/light_colors.less' %}">
    {% endif %}
    <script src="{% static 'js/less.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs.js' %}"></script>
</head>
<body>

{% include 'main/topmenu.html' %}<br>
<div class="main-block">
    <div class="left-block">
        {% block content %}
        {% endblock %}
    </div>
    <div class="right-block menu">
        {% block other %}{% endblock %}
        {% if back_url %}
            <a href="{{ back_url }}"><< Назад</a>
        {% endif %}
        <a href="#">Сайт находится на стадии разработки. Некоторый функционал может не работать</a>
    </div>
</div>
</body>
</html>