{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }} - JustWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet/less" href="{% static 'style/main.less' %}">
    {% if request.user.dark_theme or request.user.is_anonymous %}
        <link rel="stylesheet/less" href="{% static 'style/dark_colors.less' %}">
    {% else %}
        <link rel="stylesheet/less" href="{% static 'style/light_colors.less' %}">
    {% endif %}
    <script src="{% static 'js/less.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>

{% include 'main/topmenu.html' %}<br>
<div class="main-block">
    {% block content %}
    {% endblock %}
    <div class="bottom-menu">
        {% block other %}{% endblock %}
        {% include 'main/bottom-menu.html' %}

    </div>
    <p>Сайт находится на стадии разработки. Некоторый функционал может не работать</p>
</div>

<script src="{% static 'js/libs.js' %}"></script>

</body>
</html>